<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>
    <div class="container">
    <h1> La mejor plantilla de futbol</h1>
        
        
          <%- include('includes/tarjeta_jugador.ejs') %>
    
    </div>
<%- include('includes/foot.ejs') %>
    
