<nav>
    <div class="nav-wrapper">
      <a href="/jugadores" class="brand-logo center">Plantilla</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/jugadores/nuevo-jugador">Nuevo jugador</a></li>
      </ul>
    </div>
  </nav>