<div class="row">
    <% for (let jugador of jugadores) { %>
        <div class="col 13 m4 s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img height="200px" class="activator" src="<%= jugador.imagen %>">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= jugador.nombre %><i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><%= jugador.nombre %><i class="material-icons right">close</i></span>
                    <p><%= jugador.descripcion %></p>
                </div>
            </div>
        </div>
    <% } %>
</div>